.hero {
    background: linear-gradient(to right, #007bff, #0056b3);
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

footer {
    position: relative;
}

/* Contact Section */
#contact img {
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
}

#contact img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #contact .row {
        flex-direction: column-reverse;
    }

    #contact img {
        margin-bottom: 20px;
    }
}

/* Style des cartes */
.card {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Style des icônes */
.card i {
    transition: color 0.3s ease;
}

.card:hover i {
    color: #007bff; /* Changement de couleur au survol */
}

/* Dégradés pour les cartes de compétences */
.bg-gradient-primary {
    background: linear-gradient(135deg, #007bff, #0046a6);
}

.bg-gradient-danger {
    background: linear-gradient(135deg, #dc3545, #8b0000);
}

.bg-gradient-success {
    background: linear-gradient(135deg, #28a745, #006400);
}

.bg-gradient-warning {
    background: linear-gradient(135deg, #ffc107, #ff8c00);
}

/* Animation au survol */
.skill-card {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Icônes */
.skill-card i {
    transition: transform 0.3s ease;
}

.skill-card:hover i {
    transform: scale(1.1);
}

.bg-orange {
    background-color: orangered;
    color: white;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar.dark-mode {
    background-color: #1c1c1c;
}

.card.dark-mode {
    background-color: #2b2b2b;
    color: #ffffff;
}

.hero.dark-mode {
    background-color: #1c1c1c;
    color: #ffffff;
}

footer.dark-mode {
    background-color: #1c1c1c;
}

.social-icons a {
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f39c12; /* Orange vif */
}


